.vscode
data/*
!data/.gitkeep
data/ethofs/*
!data/ethofs/swarm.key
data/etho/*
!data/etho/.gitkeep
data/etho/geth/*
!data/etho/geth/.gitkeep

docs
.icc/ip-map/*
.icc/etho/*
!.icc/ip-map/.gitkeep
!.icc/etho/.gitkeep